- const map = new Map();
- map.set(Symbol.for('free'), {symbol:" ", class:""});
- map.set(Symbol.for('player1'), {symbol:"O", class:"p1"});
- map.set(Symbol.for('player2'), {symbol:"O", class:"p2"});

html
  head
    title= "Puissance 4"
    style(type='text/css').
      body {
        text-align:center;
      }
      table, td {
        border-collapse: collapse;
        border: 1px solid black;
        margin-left:auto; 
        margin-right:auto;
      }
      div {
        height: 100px;
        width: 100px;
        text-align: center;
        font-size: 90px;
      }
      button {
        background-color: #4CAF50;
        border: none;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
      }

      .p1 {
        color: red;
      }
      .p2 {
        color: blue;
      }

  body
    h1
     span(class="p"+player)="Player "+player
     span="'s turn !"
    table
      tr
        -for(let i=0; i<7; i++) {
        th
          a(href="/play/"+i)
            button="Place"
        -}
      -for(let i=0; i<6; i++) {
      tr
        -for(let u=0; u<7; u++) {
        td
          div(class=map.get(grid[i][u]).class)=map.get(grid[i][u]).symbol
        -}
      -}